.register {
    background-color: #D9D9D9;
    width: 643px;
    height: auto;
}

.introduce {
    margin: 0 auto;
    width: 1000px;
}

.register .register-form {
    font-weight: 700;
    font-size: 20px;
    margin: 0 auto;
    width: 500px;
    padding-bottom:30px;
}

    .register-form input {
        border-radius: 20px;
        height: 45px;
    }

.register-submit-btn {
    font-size: 22px !important;
    width: 150px;
    height: 50px;
    border-radius: 20px;
}
