.contact {
    background-color: #D9D9D9;
    height: auto;
}

.introduce {
    margin: 0 auto;
    width: 1000px;
}

.contact .contact-form {
    font-weight: 600;
    font-size: 20px;
    margin: 0 auto;
    width: 642.5px;
    padding-bottom: 30px;
}

.contact-submit-btn {
    font-weight: 600 !important;
    font-size: 20px !important;
    width: 150px;
    height: 50px;
}

.footer {
    width: 100% !important;
    padding: 0;
}
