<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Web_ASM_Nhom6</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/dangky.css" rel="stylesheet" />
    <link href="~/css/lienhe.css" rel="stylesheet" />
</head>
<body>
    <header class="bg-danger">
        <div class="container">
            <div class="col-md-12 row">
                <div class="col-md-9 mx-auto d-flex">
                    <a class="nav-link active text-white" aria-current="page" href="#">Kênh Người Bán</a>
                    <a class="nav-link active text-white" aria-current="page" href="#">| Trở Thành Người Bán</a>
                    <a class="nav-link active text-white" aria-current="page" href="#">| Điều Khoản Dịch Vụ</a>
                </div>
                <div class="col-md-3 mx-auto d-flex">
                    <a class="nav-link text-white" asp-area="" asp-controller="UserRegister" asp-action="RegisterUser">Đăng ký</a>
                    <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Login">| Đăng nhập</a>
                </div>
            </div>
            
            <div class="col-md-12 row">
                <div class="col-md-3">
                    <!--Logo-->
                    <svg width="" height="" viewBox="0 0 270 71" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="270" height="71" rx="25" fill="#D9D9D9" />
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M76.171 8L79.5793 8.84059L72.952 18.6482L83.8782 9.8915L87.0735 10.9579L69.5205 25.0257C74.1569 26.561 77.0562 28.7497 77.0562 31.1789C77.0562 35.8241 66.4551 39.5897 53.3781 39.5897C40.3011 39.5897 29.7001 35.8241 29.7001 31.1789C29.7001 26.5338 40.3011 22.7682 53.3781 22.7682C57.7687 22.7682 61.8802 23.1927 65.405 23.9324L76.171 8ZM22 54.5068H53.1392C35.9372 54.4899 22 45.0827 22 33.4808C22 31.5292 22.3944 29.6396 23.1324 27.8464C26.7854 36.7227 38.857 43.238 53.1857 43.238C67.5144 43.238 79.586 36.7227 83.239 27.8464C83.977 29.6396 84.3714 31.5292 84.3714 33.4808C84.3714 45.0827 70.4342 54.4899 53.2322 54.5068H91.3318V21.1063H116.9V29.0608H101.204V35.3108H115.337V43.2654H101.204V54.5068H127.055C125.324 53.1909 123.883 51.5211 122.733 49.4976C121.17 46.7159 120.389 43.3127 120.389 39.2881C120.389 35.2398 121.17 31.8307 122.733 29.0608C124.307 26.2791 126.426 24.178 129.089 22.7575C131.764 21.3252 134.759 20.6091 138.074 20.6091C141.364 20.6091 144.347 21.3252 147.022 22.7575C149.698 24.178 151.822 26.2791 153.397 29.0608C154.971 31.8307 155.758 35.2398 155.758 39.2881C155.758 43.3364 154.971 46.7514 153.397 49.5331C152.254 51.5432 150.822 53.2012 149.1 54.5068H166.85C165.118 53.1909 163.678 51.5211 162.528 49.4976C160.965 46.7159 160.184 43.3127 160.184 39.2881C160.184 35.2398 160.965 31.8307 162.528 29.0608C164.102 26.2791 166.221 24.178 168.884 22.7575C171.559 21.3252 174.554 20.6091 177.869 20.6091C181.159 20.6091 184.142 21.3252 186.817 22.7575C189.493 24.178 191.617 26.2791 193.192 29.0608C194.766 31.8307 195.553 35.2398 195.553 39.2881C195.553 43.3364 194.766 46.7514 193.192 49.5331C192.049 51.5432 190.617 53.2012 188.894 54.5068H200.121V21.1063H213.97C217.711 21.1063 220.942 21.8342 223.665 23.2902C226.399 24.7343 228.506 26.8177 229.986 29.5402C231.477 32.2509 232.223 35.5002 232.223 39.2881C232.223 43.076 231.483 46.3312 230.004 49.0537C228.776 51.3036 227.123 53.1213 225.047 54.5068H248V61.4893H22V54.5068ZM144.732 33.7838C145.312 35.2753 145.602 37.1101 145.602 39.2881C145.602 41.4661 145.312 43.3068 144.732 44.8101C144.164 46.3016 143.317 47.4379 142.193 48.2192C141.08 48.9886 139.707 49.3733 138.074 49.3733C136.44 49.3733 135.061 48.9886 133.937 48.2192C132.824 47.4379 131.977 46.3016 131.397 44.8101C130.829 43.3068 130.545 41.4661 130.545 39.2881C130.545 37.1101 130.829 35.2753 131.397 33.7838C131.977 32.2805 132.824 31.1441 133.937 30.3747C135.061 29.5935 136.44 29.2029 138.074 29.2029C139.707 29.2029 141.08 29.5935 142.193 30.3747C143.317 31.1441 144.164 32.2805 144.732 33.7838ZM184.527 33.7838C185.107 35.2753 185.397 37.1101 185.397 39.2881C185.397 41.4661 185.107 43.3068 184.527 44.8101C183.959 46.3016 183.112 47.4379 181.988 48.2192C180.875 48.9886 179.502 49.3733 177.869 49.3733C176.235 49.3733 174.856 48.9886 173.731 48.2192C172.619 47.4379 171.772 46.3016 171.192 44.8101C170.624 43.3068 170.34 41.4661 170.34 39.2881C170.34 37.1101 170.624 35.2753 171.192 33.7838C171.772 32.2805 172.619 31.1441 173.731 30.3747C174.856 29.5935 176.235 29.2029 177.869 29.2029C179.502 29.2029 180.875 29.5935 181.988 30.3747C183.112 31.1441 183.959 32.2805 184.527 33.7838ZM213.757 49.0892H209.993V29.4869H213.473C215.367 29.4869 216.965 29.777 218.267 30.357C219.581 30.937 220.575 31.9372 221.25 33.3577C221.937 34.7781 222.28 36.7549 222.28 39.2881C222.28 41.8212 221.943 43.798 221.268 45.2185C220.605 46.6389 219.634 47.6392 218.356 48.2192C217.089 48.7992 215.556 49.0892 213.757 49.0892Z" fill="#D62F2F" />
                    </svg>
                    <!--Logo-->
                </div>
                <div class="col-md-6 bg-danger">
                    <!--search-->
                    <div class="col-md-12 mx-auto bg-white rounded-pill mt-4">
                        <form class="d-flex">
                            <div class="input-group">
                                <input class="form-control rounded-pill mt-1 border-0" type="search" placeholder="Search" aria-label="Search">
                                <button class="btn btn-danger rounded-pill mx-1 mb-1 mt-1" type="submit">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                                    </svg>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="col-md-12 row ">
                        <!--Icon Cart-->
                        <div class="col-md-3 m-3 mt-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="60" fill="currentColor" class="bi bi-bag-fill" viewBox="0 0 16 16">
                                <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4z" />
                            </svg>
                        </div>
                        <!--Icon Cart-->
                        <!--Icon User-->
                        <div class="col-md-3 m-3 mt-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="60" height="65" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                            </svg>
                        </div>
                        <!--Icon User-->
                    </div>
                </div>
            </div>
            <!--nav-->

            <nav class="navbar navbar-expand-lg bg-body-tertiary navbar-light bg-danger">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav mx-auto fs-4">
                            <li class="nav-item">
                                <a class="nav-link active text-white mx-4" aria-current="page" asp-area="" asp-controller="Home" asp-action="Index">Trang Chủ</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white mx-4" href="#">Giới Thiệu</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link text-white mx-4 dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Sản Phẩm
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Product" asp-action="Index">Danh Mục Sản Phẩm</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white mx-4" asp-area="" asp-controller="Home" asp-action="Lienhe">Liên Hệ</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white mx-4" aria-current="page" href="#">Hỏi Đáp</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!--nav-->
        </div>
    </header>



    <div class="container mt-5">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <footer class="container-fluid mt-5">
        <div class="bg-danger col-md-12 container-fluid">
            <br>
            <br>
            <br>
        </div>
        <div class="col-md-12 row mt-5">
            <!--Left-->
            <div class="col-md-4 row">
                <div class="col-md-7">
                    <h4 class="m-4">Công ty</h4>
                    <ul class="navbar-nav mx-auto fs-5">
                        <li class="nav-item">
                            <a class="nav-link active mx-4" aria-current="page" href="#">Giới thiệu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-4" href="#">Trung tâm trợ giúp</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-4" aria-current="page" href="#">Quy chế</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-4" aria-current="page" href="#">Điều khoản sử dụng</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-4" aria-current="page" href="#">Bảo mật thông tin</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-4" aria-current="page" href="#">Giải quyết khiếu nại</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-4" aria-current="page" href="#">Liên hệ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-4" aria-current="page" href="#">Hợp tác nhân viên giao hàng</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-4" aria-current="page" href="#">Đăng ký quán</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-5">
                </div>
            </div>
            <!--Center-->
            <div class="col-md-4 text-center">
                <br>
                <div class="mt-5 mb-5">
                    <!--Logo-->
                    <svg width="250" height="" viewBox="0 0 270 71" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="270" height="71" rx="25" fill="#D9D9D9" />
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M76.171 8L79.5793 8.84059L72.952 18.6482L83.8782 9.8915L87.0735 10.9579L69.5205 25.0257C74.1569 26.561 77.0562 28.7497 77.0562 31.1789C77.0562 35.8241 66.4551 39.5897 53.3781 39.5897C40.3011 39.5897 29.7001 35.8241 29.7001 31.1789C29.7001 26.5338 40.3011 22.7682 53.3781 22.7682C57.7687 22.7682 61.8802 23.1927 65.405 23.9324L76.171 8ZM22 54.5068H53.1392C35.9372 54.4899 22 45.0827 22 33.4808C22 31.5292 22.3944 29.6396 23.1324 27.8464C26.7854 36.7227 38.857 43.238 53.1857 43.238C67.5144 43.238 79.586 36.7227 83.239 27.8464C83.977 29.6396 84.3714 31.5292 84.3714 33.4808C84.3714 45.0827 70.4342 54.4899 53.2322 54.5068H91.3318V21.1063H116.9V29.0608H101.204V35.3108H115.337V43.2654H101.204V54.5068H127.055C125.324 53.1909 123.883 51.5211 122.733 49.4976C121.17 46.7159 120.389 43.3127 120.389 39.2881C120.389 35.2398 121.17 31.8307 122.733 29.0608C124.307 26.2791 126.426 24.178 129.089 22.7575C131.764 21.3252 134.759 20.6091 138.074 20.6091C141.364 20.6091 144.347 21.3252 147.022 22.7575C149.698 24.178 151.822 26.2791 153.397 29.0608C154.971 31.8307 155.758 35.2398 155.758 39.2881C155.758 43.3364 154.971 46.7514 153.397 49.5331C152.254 51.5432 150.822 53.2012 149.1 54.5068H166.85C165.118 53.1909 163.678 51.5211 162.528 49.4976C160.965 46.7159 160.184 43.3127 160.184 39.2881C160.184 35.2398 160.965 31.8307 162.528 29.0608C164.102 26.2791 166.221 24.178 168.884 22.7575C171.559 21.3252 174.554 20.6091 177.869 20.6091C181.159 20.6091 184.142 21.3252 186.817 22.7575C189.493 24.178 191.617 26.2791 193.192 29.0608C194.766 31.8307 195.553 35.2398 195.553 39.2881C195.553 43.3364 194.766 46.7514 193.192 49.5331C192.049 51.5432 190.617 53.2012 188.894 54.5068H200.121V21.1063H213.97C217.711 21.1063 220.942 21.8342 223.665 23.2902C226.399 24.7343 228.506 26.8177 229.986 29.5402C231.477 32.2509 232.223 35.5002 232.223 39.2881C232.223 43.076 231.483 46.3312 230.004 49.0537C228.776 51.3036 227.123 53.1213 225.047 54.5068H248V61.4893H22V54.5068ZM144.732 33.7838C145.312 35.2753 145.602 37.1101 145.602 39.2881C145.602 41.4661 145.312 43.3068 144.732 44.8101C144.164 46.3016 143.317 47.4379 142.193 48.2192C141.08 48.9886 139.707 49.3733 138.074 49.3733C136.44 49.3733 135.061 48.9886 133.937 48.2192C132.824 47.4379 131.977 46.3016 131.397 44.8101C130.829 43.3068 130.545 41.4661 130.545 39.2881C130.545 37.1101 130.829 35.2753 131.397 33.7838C131.977 32.2805 132.824 31.1441 133.937 30.3747C135.061 29.5935 136.44 29.2029 138.074 29.2029C139.707 29.2029 141.08 29.5935 142.193 30.3747C143.317 31.1441 144.164 32.2805 144.732 33.7838ZM184.527 33.7838C185.107 35.2753 185.397 37.1101 185.397 39.2881C185.397 41.4661 185.107 43.3068 184.527 44.8101C183.959 46.3016 183.112 47.4379 181.988 48.2192C180.875 48.9886 179.502 49.3733 177.869 49.3733C176.235 49.3733 174.856 48.9886 173.731 48.2192C172.619 47.4379 171.772 46.3016 171.192 44.8101C170.624 43.3068 170.34 41.4661 170.34 39.2881C170.34 37.1101 170.624 35.2753 171.192 33.7838C171.772 32.2805 172.619 31.1441 173.731 30.3747C174.856 29.5935 176.235 29.2029 177.869 29.2029C179.502 29.2029 180.875 29.5935 181.988 30.3747C183.112 31.1441 183.959 32.2805 184.527 33.7838ZM213.757 49.0892H209.993V29.4869H213.473C215.367 29.4869 216.965 29.777 218.267 30.357C219.581 30.937 220.575 31.9372 221.25 33.3577C221.937 34.7781 222.28 36.7549 222.28 39.2881C222.28 41.8212 221.943 43.798 221.268 45.2185C220.605 46.6389 219.634 47.6392 218.356 48.2192C217.089 48.7992 215.556 49.0892 213.757 49.0892Z" fill="#D62F2F" />
                    </svg>
                    <!--Logo-->
                </div>
                <div class="mt-5">
                    <div class=" col-md-4 mx-auto row">
                        <div class="col-md-5 m-1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="50" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
                                <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951" />
                            </svg>
                        </div>
                        <div class="col-md-5 m-1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="50" fill="currentColor" class="bi bi-instagram" viewBox="0 0 16 16">
                                <path d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.9 3.9 0 0 0-1.417.923A3.9 3.9 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.9 3.9 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.9 3.9 0 0 0-.923-1.417A3.9 3.9 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599s.453.546.598.92c.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.5 2.5 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.5 2.5 0 0 1-.92-.598 2.5 2.5 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233s.008-2.388.046-3.231c.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92s.546-.453.92-.598c.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92m-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217m0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334" />
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <!--Right-->
            <div class="col-md-4 text-end fs-5">
                <h4 class="mb-5">Địa chỉ công ty</h4>
                <p>Công Ty Cổ Phần Foody</p>
                <p>Lầu G, Tòa nhà Jabes 1,</p>
                <p>Số 143 đường Cống Quỳnh, phường Phạm Ngũ Lão, Ninh Kiều, Cần Thơ</p>
                <p>Giấy CN ĐKDN số: 0311828026</p>
                <p>do sở kế hoạch và đầu tư Cần Thơ cấp ngày 2/6/2012,</p>
                <p>sửa đổi lần thứ 23, ngày 2/6/2024</p>
                <p>Chịu trách nhiệm quản lý nội dung : Nguyễn Hồ Quảng Giang</p>
                <p>Điện thoại liên hệ: 028 710 6879</p>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/Validate.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
