<article class="container">
    <div class="mt-4 mb-4 register mx-auto">
        <h1 class="text-center fw-bold pt-4">
            Đăng Ký Tài Khoản
        </h1>

        <form class="register-form">
            <div class="mb-3">
                <label for="hoten" class="form-label">Tên tài khoản:</label>
                <input type="email" class="form-control" id="hoten" placeholder="Trần Văn A">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email:</label>
                <input type="email" class="form-control" id="email" placeholder="TranVanA@gmail.com">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Mật khẩu:</label>
                <input type="password" class="form-control" id="password">
            </div>
            <div class="mb-3">
                <label for="confirmpassword" class="form-label">Nhập lại mật khẩu:</label>
                <input type="password" class="form-control" id="confirmpassword">
            </div>
            <div class="mb-3 text-center">
                <button class="register-submit-btn btn btn-secondary">Đăng ký</button>
            </div>
        </form>
    </div>
</article>