@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>


<div class="container-fluid col-md-12 row vh-100 ">
    <div class="col-md-3">
        <div class="col-md-12 row p-2">
            <div class="col-md-4">
                <svg xmlns="http://www.w3.org/2000/svg" width="60" height="65" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                </svg>
            </div>
            <h3 class="col-md-8 m-auto p-3">Username</h3>
        </div>
        <hr / class="border-3 bg-dark">
        <div class="col-md-12 row">

            <ul class="navbar-nav mx-auto fs-4">
                <li class="nav-item">
                    <a class="nav-link active mx-4" aria-current="page" asp-area="" asp-controller="" asp-action="">Tài khoản của tôi</a>
                </li>
                <div class="m-4">
                    <li><a class="dropdown-item" asp-area="" asp-controller="" asp-action="">Hồ sơ</a></li>
                    <li><a class="dropdown-item" href="#">Ngân hàng</a></li>
                    <li><a class="dropdown-item" href="#">Địa chỉ</a></li>
                    <li><a class="dropdown-item" href="#">Đổi mật khẩu</a></li>
                </div>
                <li class="nav-item">
                    <a class="nav-link active mx-4" aria-current="page" asp-area="" asp-controller="" asp-action="">Đơn mua</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active mx-4" aria-current="page" asp-area="" asp-controller="" asp-action="">Thông báo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active mx-4" aria-current="page" asp-area="" asp-controller="" asp-action="">Theo dõi</a>
                </li>
            </ul>

        </div>
    </div>

    <div class="col-md-9 bg-body-secondary">
        <div class="col-md-12 p-1">
            <h2>HỒ SƠ CỦA TÔI</h2>
            <h6>Quản lý thông tin hồ sơ để bảo mật tài khoản</h6>
        </div>
        <hr / class="border-3 bg-dark">
    <div class="col-md-12 row">
        <div class="col-md-4  border-end ">
                <div class="bg-danger rounded-pill p-4 mt-5 m-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="350" height="365" fill="currentColor" class="bi bi-person-fill rounded-pill" viewBox="0 0 16 16">
                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                    </svg>
                </div>
            </div>
            <div class="col-md-8 bg-secondary">
                <!--tạo form create bỏ vào-->
            </div>
        </div>
    </div>
</div>